<div class="card style_card" style="width: 18rem;">
    <img class="card-img-top imagen_card" src={{profesional.photo}} alt="Card image cap">
    <div class="card-body">
      <div class="cuerpo">
        <h6>{{profesional.name|uppercase}} {{profesional.last_name|uppercase}}</h6>
        <span>- EDAD: {{profesional.age}}</span><br>
        <span>- PESO: {{profesional.weight}}</span><br>
        <span>- ALTURA: {{profesional.height}}</span><br>
        <span>- RETIRADO: {{profesional.isRetired}}</span><br>
        <span>- NACIONALIDAD: {{profesional.nationality}}</span><br>
        <span>- NÚMERO DE OSCARS: {{profesional.oscarsNumber}}</span><br>
        <span>- PROFESIÓN: {{profesional.profession}}</span><br>
      </div>
    </div>
</div>
