<div class = "contenedor_home">
    <div class="contenedor_formulario">
        <div class="formulario">
            <input type="name" placeholder="Name*" id="name" #name>
            <input type="last_name" placeholder="Last name*" id="last_name" #last_name>
            <input type="age" placeholder="Age" id="age" #age>
            <input type="weight" placeholder="Weight" id="weight" #weight>
            <input type="height" placeholder="Height" id="height" #height>
            <input type="isRetired" placeholder="Is retired? (true/false)" id="isRetired" #isRetired>
            <input type="nationality" placeholder="Nationality" id="nationality" #nationality>
            <input type="oscarsNumber" placeholder="Nº Oscars" id="oscarsNumber" #oscarsNumber>
            <input type="profession" placeholder="Actor/Director" id="profession" #profession>
            <input type="photo" placeholder="URL photo" id="photo" #photo>
        </div>
        <div class="botones">
            <button type="reset" class="style_button" (click)="mostrar(name.value, last_name.value)">VIEW PROFESSIONAL</button>
            <button type="reset" class="style_button" (click)="anyadir(name.value, last_name.value, age.value, weight.value, height.value, isRetired.value, nationality.value, oscarsNumber.value, profession.value, photo.value)">ADD</button>
            <button type="reset" class="style_button" (click)="modificar(name.value, last_name.value, age.value, weight.value, height.value, isRetired.value, nationality.value, oscarsNumber.value, profession.value, photo.value)">UPDATE</button>
            <button type="reset" class="style_button" (click)="borrar(name.value, last_name.value)">DELETE</button>
        </div>
    </div>
</div>
<div class="vista_cards">
    <div *ngIf="profesionales.length == 0">
        <h1 style="color: red; font-weight: bold;">Profesional no encontrado</h1> 
    </div>
    <div *ngFor="let profesional of profesionales;">
        <app-card [profesional] = "profesional"></app-card>
    </div>
</div>
